@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: block;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
      45deg,
      #bebebe 25%,
      transparent 25%,
      transparent 75%,
      #bebebe 75%,
      #bebebe
    ),
    repeating-linear-gradient(
      45deg,
      #bebebe 25%,
      #ffffff 25%,
      #ffffff 75%,
      #bebebe 75%,
      #bebebe
    );
  background-position:
    0 0,
    4px 4px;
  background-size: 2px 2px;
}

::-webkit-scrollbar-button {
  background: #bebebe;

  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;

  background-size: 7px;
  background-repeat: no-repeat;
  background-position: center center;
}

::-webkit-scrollbar-button:vertical:increment {
  background-position: center 4px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:vertical:decrement {
  background-position: center 4px;

  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:increment {
  background-position: 4px center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-position: 4px center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-thumb {
  background: #bebebe;

  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #555555;
  border-bottom: 2px solid #555555;
}

::-webkit-scrollbar-corner {
  background-color: #bebebe;
}
